[submodule "ext/GViZDoom"]
	path = ext/GViZDoom
	url = git@github.com:Lehdari/GViZDoom.git
[submodule "ext/pytorch"]
	path = ext/pytorch
	url = git@github.com:pytorch/pytorch.git
[submodule "ext/GraphicsUtils"]
	path = ext/GraphicsUtils
	url = git@github.com:Lehdari/GraphicsUtils.git
[submodule "ext/implot"]
	path = ext/implot
	url = git@github.com:epezent/implot.git
